<!DOCTYPE HTML>
 
<html>
<head>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript">
    
        var app = angular.module("UserManagement", []);
        
        //Controller Part
        app.controller("UserManagementController", function($scope, $http) {
		
        	_refreshPageData();
        	$scope.submitUser = function() {
                
                var method = "";
                var url = "";
                 {
                    //Id is absent so add employee - POST operation
                    method = "POST";
                    url = '/ezeeorder/registerapp';
                } 
     
                $http({
                    method : method,
                    url : url,
                    data : angular.toJson($scope.form),
                    headers : {
                        'Content-Type' : 'application/json'
                    }
                }).then( _success, _error );
            };
        });
      </script>
</head>
<body>
<h2>Add/Edit User</h2>
 
        <form ng-submit="submitUser()">
            <table>
                <tr>
                    <td>Mobile</td>
                    <td><input type="text" ng-model="form.appMobileNo" size="60" /></td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" ng-model="form.firstName" size="60" /></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" ng-model="form.emailId" size="60" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
 
    </body>
</html>
</body>
</html>